body{
    padding: 70px;
}

.title{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(148, 148, 148) ;
    color: purple;
    margin: 20px;
    padding: 20px;
    width: fit-content;
}